{% extends "layouts/base.html" %}

{% block title %} Predict {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <div class="row">
    <div class="col-md-5">
      <div class="card">
        <div class="card-header card-header-primary">
          <h4 class="card-title">
            Set price for my Airbnb listing
          </h4>
        </div>
        <div class="card-body">

          <h6 class="card-category">
              {% if msg %}
                <span class="text-danger">{{ msg | safe }}</span>
              {% else %}
                Enter details of your listing. 
                We'll suggest the best price :)
              {% endif %}  
          </h6>
          
          <br />

          <form role="form" method="post" action="">
              
            {{ form.hidden_tag() }} 

            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label class="bmd-label-floating">Neighbourhood</label>
                  {{ form.neighbourhood_group(class="form-control") }}
                </div>
              </div>
            </div>

            <br />

            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label class="bmd-label-floating">Room Type</label>
                  {{ form.roomtype(class="form-control") }}
                </div>
              </div>
            </div>

            <br />

            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label class="bmd-label-floating">Minimum Nights</label>
                  {{ form.minimum_nights(class="form-control") }}
                </div>
              </div>
            </div>

            <br />

            <button type="submit" name="predict" class="btn btn-primary pull-right">Predict best price!</button>

            <div class="tim-typo">
              <p class="text-primary">
                {% if prediction}
                  Suggested price per night : <b>USD {{ prediction }}</b> </p>
                {% else %}
                  Please check details again!
                {% endif %}
                </div>
            
            &nbsp; &nbsp; 
            <span class="pull-right">
              Don't have an account? <a href="{{ url_for('base_blueprint.register') }}" class="text-primary">Create</a>
            </span>

            <div class="clearfix"></div>

          </form>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
